
.project

.settings/

osgi/.classpath

pf4j-common/.classpath

plugin-configurar/.classpath

ui-core/.classpath

plugin-teste/.classpath

dist/.classpath

osgi/lib/

plugin-theme-mac-ligth/.classpath
